body
{
	background-size: 100% 100%;
	background-image: url(./hatter.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Times New Roman';
	color: #741B47;
	padding-left: 5em;
	padding-right: 5em;
}
h1
{
	text-align:center;
	font-family: Verdana;
	font-size:2em;
	margin-bottom:0em;
}
h2
{				
	text-align:center;
	font-family: Verdana;
	font-size:1.2em;
	font-style: italic;
	margin-top: 0em;
}
h3
{								
	font-family: Verdana;
	font-size:1.2em;
	text-decoration:underline;
	font-style: italic;	
}
div.jobbra
{
	float:right;
}
.keplet
{
	text-align:center;
}
form
{
	text-align:left;
	font-size:1.2em;
}
#form{
	margin-top: 1em;
}
form input{
	width: 5em;
}